
@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  --shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 12px 30px 0 rgba(0, 0, 0, 0.19);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:'Times New Roman', Times, serif;
}

/* Home page */
.homepackBackground{
  background-image: url("https://images.pexels.com/photos/2043739/pexels-photo-2043739.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  padding: 10% 10%;

}

/* my image */
.meImageContainer{
  width: 30%;

}

.myImage{
  border-radius: 100%;
  margin: 10% 115%;
}

/* Rima Das title */
.nameTitle{
  text-align: center;
  margin: auto;
  color: white;
  font-weight: bolder;
  font-size: 300%;
}

/* Navbar */
.navbarContainer{
  text-align: center;
  font-size: larger;
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content:space-around;
  --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}

.navbarLinkText{
  margin: 1% 0%;
  color: aliceblue;
  text-decoration: none;
  opacity: 0.7;
  }

.navbarText{
color: antiquewhite;
  }

/* About Me page */
.aboutMeContiner{
  border: 1px solid black;
  margin: 1% 30%;
  box-shadow: var(--shadow)
}

.paraContainer{
  margin: 5%;
}

.aboutMeText{
  font-size: 120%;
}

.aboutMeIcon{
  width: 10%;
  height: 10%;
  margin-left: 2% 2%;
}

.aboutMeIconContainer{
  display: flex;
  justify-content: space-around;
  margin: 5%;
}

.bold{
  font-weight: bolder;
}

/* Portfolio Page */

.assignmentTitle{
  font-weight: bolder;
}

.row1Container{
  display: flex;
  flex-direction: inherit;
  flex-wrap: wrap;
  margin: 1%;
}

.horizonContainer{
  margin: 2% 1.7%;
  box-shadow: var(--shadow)
}

.cssSnippetContainer{
  margin: 2% 1.7%;
  box-shadow: var(--shadow)
}

.CSSPortfolioContainer{
  margin: 2% 1.7%;
  box-shadow: var(--shadow)
}

.PasswordGeneratedContainer{
  margin: 2% 1.7%;
  box-shadow: var(--shadow)
}

.TestYourKnowledgeContainer{
  margin: 2% 1.7%;
  box-shadow: var(--shadow)
}

.SaveTheTaskContainer{
  margin: 2% 1.7%;
  box-shadow: var(--shadow)
}

.WeatherContainer{
  margin: 2% 1.7%;
  box-shadow: var(--shadow) 
}

.ReadMeGeneratorContainer{
  margin: 2% 1.7%;
  box-shadow: var(--shadow)
}

.TeamGeneratorContainer{
  margin: 2% 1.7%;
  box-shadow: var(--shadow)
}

.EmployeeTrackerContainer{
  margin: 2% 1.7%;
  box-shadow: var(--shadow)
}

.GamethonContainer{
  margin: 2% 1.7%;
  box-shadow: var(--shadow)
}

.SocialNetworkAPIContainer{
  margin: 2% 1.7%;
  box-shadow: var(--shadow)
}

.TextEditorContainer{
  margin: 2% 1.7%;
  box-shadow: var(--shadow)
}

.RobinGoodFoodsContainer{
  margin: 2% 1.7%;
  box-shadow: var(--shadow)
}

/* Contact Me Page */
.contactPage{
  background-color: darkcyan;
  padding: 4%;
  margin: 0%;
}

.contactForm{
  margin: 0% 20%;
  background-color: darkcyan;
  font-size: larger;
}
.nameRow{
  text-align: left;
  padding: 2%;
}

.inputName{
  margin-left: 8%;
  padding: 1% 10%;
  font-size: larger;
  
}
.emailRow{
  text-align: left;
  padding: 2%;
}
.inputEmail{
  margin-left: 2.5%;
  padding: 1% 20%;
  font-size: larger;
}
.messageRow{
  text-align: left;
  padding: 2%;
}
.inputMessage{
  margin-left: 6%;
  padding: 1% 10%;
  font-size: larger;
}
.submit{
  padding: 1% 10%;
  margin: 4% 40%;
}

.titleText{
  text-decoration: brown;
}
/* resumePage */

.resumePage{
  background-color: darkcyan;
  padding-left: 2%;
  padding-top: 2%;
  display: flex;
}

.resumePDF{
  padding-left: 4%;
}

.resumetext{
  color: white;
  font-size: larger;
}

.frontEndText{
  padding-left: 4%;
  line-height: initial;
}

.backEndText{
  padding-left: 4%;
  line-height: initial;
}

li{
  font-size: larger;
}

.footerContainer{
  text-align: center;
  font-size: larger;
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content:space-around;
  --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;

}

.footerLink{
margin: 1% 0%;
color: aliceblue;
text-decoration: none;
opacity: 0.7;
}

.githubIcon{
  font-size: larger;
  width: 200%;
  height: 200%;
}

