
@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  --shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 12px 30px 0 rgba(0, 0, 0, 0.19);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:'Times New Roman', Times, serif;
}

/* Home page */
.homepackBackground{
  background-image: url("https://images.pexels.com/photos/2043739/pexels-photo-2043739.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  padding: 4% 10%;

}

/* my image */
.meImageContainer{
  width: 30%;

}

.myImage{
  border-radius: 100%;
  margin: 10% 115%;
}

/* Rima Das title */
.nameTitle{
  text-align: center;
  margin: auto;
  color: white;
  font-weight: bolder;
  font-size: 300%;
}

/* Navbar */
.navbarContainer{
  text-align: center;
  font-size: larger;
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content:space-around;
  --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
}

.navbarLinkText{
  margin: 1% 0%;
  color: aliceblue;
  text-decoration: none;
  opacity: 0.7;
  }

.navbarText{
color: antiquewhite;
  }

  .personalContactInfo{ 
    width: 100%;
    margin: -1% 40%;

  }
  
  .address{
    display: flex;
    flex-direction: inherit;
    color: white;

  }
  .icon{
    font-size: 220%;
    margin: 0% 1%;
  }
  
  .phoneNo{
    display: flex;
    flex-direction: inherit;
    color: white;
  }
  
  .emailAddress{
    display: flex;
    flex-direction: inherit;
    color: white;
  }

  .personalDetailsFont{
    color: white;
    font-size: 200%;
  }

/* About Me page */
.aboutMeContiner{
  border: 1px solid black;
  margin: 1% 30%;
  box-shadow: var(--shadow)
}

.paraContainer{
  margin: 5%;
}

.aboutMeText{
  font-size: 120%;
}

.aboutMeIcon{
  width: 10%;
  height: 10%;
  margin-left: 2% 2%;
}

.aboutMeIconContainer{
  display: flex;
  justify-content: space-around;
  margin: 5%;
}

.bold{
  font-weight: bolder;
}

/* Portfolio Page */

.assignmentTitle{
  font-weight: bolder;
}

.row1Container{
  display: flex;
  flex-direction: inherit;
  flex-wrap: wrap;
  margin: 1%;
}

.horizonContainer{
  margin: 2% 1.7%;
  box-shadow: var(--shadow)
}

.cssSnippetContainer{
  margin: 2% 1.7%;
  box-shadow: var(--shadow)
}

.CSSPortfolioContainer{
  margin: 2% 1.7%;
  box-shadow: var(--shadow)
}

.PasswordGeneratedContainer{
  margin: 2% 1.7%;
  box-shadow: var(--shadow)
}

.TestYourKnowledgeContainer{
  margin: 2% 1.7%;
  box-shadow: var(--shadow)
}

.SaveTheTaskContainer{
  margin: 2% 1.7%;
  box-shadow: var(--shadow)
}

.WeatherContainer{
  margin: 2% 1.7%;
  box-shadow: var(--shadow) 
}

.ReadMeGeneratorContainer{
  margin: 2% 1.7%;
  box-shadow: var(--shadow)
}

.TeamGeneratorContainer{
  margin: 2% 1.7%;
  box-shadow: var(--shadow)
}

.EmployeeTrackerContainer{
  margin: 2% 1.7%;
  box-shadow: var(--shadow)
}

.GamethonContainer{
  margin: 2% 1.7%;
  box-shadow: var(--shadow)
}

.SocialNetworkAPIContainer{
  margin: 2% 1.7%;
  box-shadow: var(--shadow)
}

.TextEditorContainer{
  margin: 2% 1.7%;
  box-shadow: var(--shadow)
}

.RobinGoodFoodsContainer{
  margin: 2% 1.7%;
  box-shadow: var(--shadow)
}

/* Contact Me Page */
.contactPage{
  background-color: rgb(220, 213, 204);
}

.contactMeContainer{
  width: 90%;
}

.connectMsgDiv{
  padding: 3% 0%;
  text-align: center;
}

.connectMsgText{
  font-size: 175%;
  font-style: italic;
  text-decoration: underline;
}
.contactForm{
  width: 100%;
  padding: 0% 9%;
  padding-bottom: 8%;
  margin: 0% 31%;
}

.nameRow{
  padding-bottom: 2%;
}

.inputName{
  border: 1px solid black;
  font-size:large;
  padding: 1% 12%;
}

.emailRow{
  padding-bottom: 2%;

}

.inputEmail{
  border: 1px solid black;
  font-size: large;
  padding: 1% 12%;
}
.messageRow{
  padding-bottom: 2%;
}

.inputMessage{
  border: 1px solid black;
  font-size: large;
  padding: 1% 11.7%;
}

.submit{
  border: 1px solid black;
  padding: 0.5% 4%;
  font-size: large;
  margin-left: 12%;
}

/* resumePage */
.resumePage{
  padding: 1%;
}

.resumeContainer{
  border: 1px solid black;
  margin: 1% 30%;
  text-align: center;
}

.resumePageFont{
  font-size: 150%;
}

.proficienciesContainer{
  margin: 1% 35%;
  text-align: center;
}

th{
  font-size: 200%;
}
/* Footer */
.footerContainer{
  text-align: center;
  font-size: larger;
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content:space-around;
  --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;

}

.footerLink{
margin: 1% 0%;
color: aliceblue;
text-decoration: none;
opacity: 0.7;
}

.githubIcon{
  font-size: larger;
  width: 200%;
  height: 200%;
}

